<div class='view'>
    <div class="jumbotron">
        <div class="container-fluid text-center">
            <div class="row">
                <a href="#!/login/">
                    <div class="btn btn-default double-border pull-right">Login</div>
                </a>
                <div class="btn btn-default double-border pull-right">
                    Sign Up
                </div>
            </div>
            <div class="row">
                <h1>Welcome to the Youtube viewer</h1>
                <h2>Login to Search YouTube for videos</h2>
                <br>
                <br>
                <!--<div class="col-sm-6 col-sm-offset-3">-->
                <!--    <div class="input-group">-->
                <!--        <input type="text" class="form-control" aria-label="..." ng-model="videoDesc">-->
                <!--        <div class="input-group-btn">-->
                <!--            <button type="button" class="btn btn-default" ng-click="searchClicked()" aria-haspopup="true" aria-expanded="false">Search YouTube</button>-->
                <!--        </div>-->
                <!--    </div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <!--<div class="resultRows">-->
    <!--    <div class="col-sm-8 col-sm-offset-2">-->
    <!--        <div class="row resultsRow" ng-repeat="item in items">-->
    <!--            <div class="col-sm-1">-->
    <!--                <img width="120" height="90" ng-src="{{item.snippet.thumbnails.default.url}}" />-->
    <!--            </div>-->
    <!--            <div class="col-sm-10 col-sm-offset-1">-->
    <!--                <div class="row">-->
    <!--                    <h4><a ng-href="#!/view/?id={{item.id.videoId}}">{{item.snippet.title}}</a></h4>-->
    <!--                </div>-->
    <!--                <div class="row">-->
    <!--                    <h6><a target="_blank" ng-href="https://www.youtube.com/channel/{{item.snippet.channelId}}">{{item.snippet.channelTitle}}</a></h6>-->
    <!--                </div>-->
    <!--                <div class="row">-->
    <!--                    <h6>{{item.snippet.description}}</h6>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->
    <!--<div ng-hide="pageBtns" class="row content">-->
    <!--    <div ng-click="prevPage()" ng-class="btnStatus" class="btn btn-default col-sm-1 col-sm-offset-4">Previous</div>-->
    <!--    <div ng-click="nextPage()" class="btn btn-default col-sm-1 col-sm-offset-1">Next</div>-->
    <!--</div>-->
</div>
